@import './utils/styles/_reset.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;

  background-color: #242424;
}

body {
  min-width: 320px;
  min-height: 100vh;
}
